h1 { color: orange; font-size: 65px; font-family: Helvetica; text-align:center; text-decoration: underline;
}

ul {
font-weight: bold;
font-style: italic;
line height: 40px;
}

.back-color { 
    background-color: blue ; color: white;
}

body { font-size: 16px;
}

p {
    font-size: 3em;
    font-weight:600;
}

#Vermelho {background-color: red; color: black;}
#Amarelo {background-color: yellow; color: black}
#Rosa {background-color: pink; color: black}